body {
  background-image: url('https://as1.ftcdn.net/v2/jpg/02/20/16/44/1000_F_220164473_VVsYP7fssuwdi2Lxi3LeoGe74ZQTkgW5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 60px;
}

.profile {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.profile img {
  width: 300px;
  display: block;
  margin-right: 40px;
}

.profile p {
  margin: 20px;
  color: white;
}